<!-- <img src="/assets/bg.jpg" class="img-thumbnail " alt="Test" width="304" height="236"> -->

<div class="white-container">
    <div class="container">
       <h1 class="text-center dark-header">Browse our curated workout plans below</h1><br>
       <p class="dark-paragraph">We have carefully and methodically included a suite of sample workout plans for our users. Here are some of the most popular workouts in the Fitness World. Whereas some of these workouts are inspired by celebrities, other workouts are built from scratch from famous bodybuilders who were once just like us! We hope you can find the right workout for your fitness goals!</p><br>
       <p class="dark-paragraph">Once you're ready to get started, click on one of the links below. After, you'll be redirected to a page detailing the workout plan, giving you everything you need to become the person you've always wanted to be. Leverage these guides with our calendar and meal features to maximize the effectivenss of the curated game plans. Enjoy your workout, have fun, and remember to stretch beforehand!</p> 
    </div>
</div>

<p class="invisible-ink">The pain of today is the victory of tomorrow.</p>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="http://www.bodybuilding.com/content/dwayne-johnson-rock-hard-hercules-workout-and-diet-plan.html">
      <img src="/assets/hercules.jpg" alt="http://www.zryxsw.com/data/out/40/690741-hercules-wallpaper.jpg" class="img-thumbnail hover" width="304" height="236">
    </a>
    <a href="http://www.bodybuilding.com/content/dwayne-johnson-rock-hard-hercules-workout-and-diet-plan.html"><div class="desc">Hercules Workout - by Dwayne Johnson</div></a>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="http://www.bodybuilding.com/content/build-a-fighting-physique-like-conor-mcgregor.html">
      <img src="/assets/mcgregor.jpg" class="img-thumbnail " alt="http://www.hdwlp.com/wp-content/uploads/2016/08/conor_mcgrego-wallpaper.jpg" width="304" height="236">
    </a>
    <a href="http://www.bodybuilding.com/content/build-a-fighting-physique-like-conor-mcgregor.html"><div class="desc">Conor McGregor Workout - UFC Champion</div></a>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="http://www.bodybuilding.com/content/300-workout-lean-and-mean-in-months-with-spartan-warrior-training.html">
      <img src="/assets/spartan.jpg" class="img-thumbnail " alt="https://wallpaperscraft.com/image/300_spartan_warrior_rage_strong_gerard_butler_king_leonidas_3831_1920x1080.jpg" width="304" height="236">
    </a>
    <a href="http://www.bodybuilding.com/content/300-workout-lean-and-mean-in-months-with-spartan-warrior-training.html"><div class="desc">300 Spartan Workout - This is Sparta!!</div></a> 
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="http://www.bodybuilding.com/fun/arnold-schwarzenegger-blueprint-trainer-main.html">
      <img src="/assets/arnoldworkout.jpg" class="img-thumbnail " alt="https://initiate.alphacoders.com/images/433/cropped-1920-1080-433171.jpg?808" width="304" height="236">
    </a>
    <a href="http://www.bodybuilding.com/fun/arnold-schwarzenegger-blueprint-trainer-main.html"><div class="desc">Arnold Schwarzenegger's Blueprint Workout</div></a>
  </div>
</div>
<p class="invisible-ink">"Seven days without exercise makes one weak!"</p><br><br>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="http://www.bodybuilding.com/fun/ronnie-colemans-fitness-program.html">
      <img src="/assets/coleman.jpg" class="img-thumbnail " alt="http://www.onlyhdpic.com/images/Collections/hd-pics-photos-sports-bodybuilding-ronnie-coleman-muscle-desktop-background-wallpaper.jpgcol" width="304" height="236">
    </a>
    <a href="http://www.bodybuilding.com/fun/ronnie-colemans-fitness-program.html"><div class="desc">Ronnie Coleman's Workout Plan - 8 Time Mr.Olympia </div></a>
  </div>
</div>


<div class="responsive">
  <div class="img">
    <a target="_blank" href="https://www.exercise.com/workout-plans/manny-pacquiao-workout-plan">
      <img src="/assets/pacquiao.jpg" class="img-thumbnail " alt="http://www.siwallpaperhd.com/wp-content/uploads/2015/12/boxing_manny_pacquiao_wallpaper_hd.jpgpac" width="304" height="236">
    </a>
    <a href="https://www.exercise.com/workout-plans/manny-pacquiao-workout-plan"><div class="desc">Manny Pacqiao's  Conditioning - Boxing Champion</div></a>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="http://www.bodybuilding.com/fun/brock_lesnar_training.htm">
      <img src="/assets/lesnar.jpg" class="img-thumbnail " alt="http://feelgrafix.com/data_images/out/28/985855-brock-lesnar.jpg" width="304" height="236">
    </a>
    <a href="http://www.bodybuilding.com/fun/brock_lesnar_training.htm"><div class="desc">Brock Lesnar's Routine - WWE and UFC Superstar</div></a>
  </div>
</div>

<div class="responsive">
  <div class="img">
    <a target="_blank" href="https://www.muscleprodigy.com/michael-phelps-workout-and-diet/">
      <img src="/assets/phelps.jpg" class="img-thumbnail " alt="https://wallpaperscraft.com/image/michael_phelps_swimmer_olympian_98220_1920x1080.jpg" width="304" height="236">
    </a>
    <a href="https://www.muscleprodigy.com/michael-phelps-workout-and-diet/"><div class="desc">Michael Phelps Training - 23 Olympian Gold Medals</div></a>
  </div>
</div>

<p class="invisible-ink">"Hustle to gain more muscle"</p><br><br>
<div class="grey-container">
    <div class="container" >
       <h1 class="text-center header">Not Satisfied with our workout selection?!</h1><br>
       <p class="white-paragraph">No worries, we got you covered. Check out our exercise database below! There are hundreds of unique exercises organized by muscle group. There are limitless exercise combinations to be made with these awesome exercises. You are the sculptor of your own fitness, so feel free to use our database as a blueprint to guide you along the journey of meeting your fitness goals.</p><br>
       <p class="white-paragraph">Know of any exercises that aren't listed? Feel free to add your own exercise to the database with the specially marked link at the bottom of the page! This is an open-source exercise platform generated by the community, for the community! As our user base grows, so will our exercise databases. So let's get down to business and conquer the fitness world</p>      
           <!--     end extras -->        
    </div>
</div>
<div>
  <p class="invisible-ink">"Push harder than yesterday if you want a different tomorrow"</p>
  <center><h1 class="intro title dark-header">Exercise Database</h1></center><br>
  <div class="btn-group btn-group-justified">

    <div class="btn-group">
    <button type="button" data-toggle="collapse" data-target="#bicep"  class="btn btn-default">Biceps</button>
    </div>

    <div class="btn-group">
    <button type="button" data-toggle="collapse" data-target="#tricep"  class="btn btn-default">Triceps</button>
    </div>

    <div class="btn-group">
    <button type="button" data-toggle="collapse" data-target="#chest"  class="btn btn-default">Chest</button>
    </div>

    <div class="btn-group">
    <button type="button" data-toggle="collapse" data-target="#shoulder"  class="btn btn-default">Shoulders</button>
    </div>

    <div class="btn-group">
    <button type="button" data-toggle="collapse" data-target="#abs"  class="btn btn-default">Abs</button>
    </div>

    <div class="btn-group">
    <button type="button" data-toggle="collapse" data-target="#back"  class="btn btn-default">Back</button>
    </div>

    <div class="btn-group">
    <button type="button" data-toggle="collapse" data-target="#legs"  class="btn btn-default">Legs</button>
    </div>
    </div>
</div> 
<br>
<div id="bicep" class="collapse list">
<center><h2 class="list-group-item disabled">Biceps</h2></center>
<% @exerciselistbicep.each do |x| %>
<center><li class="list left"><%=x.exercise %><br></li></center>

<% end %>
</div>

<div id="tricep" class="collapse list">
<center><h2 class="list-group-item disabled">Triceps</h2></center>
<% @exerciselisttricep.each do |x| %>
<center><li class="list"><%=x.exercise %><br></li></center>

<% end %>
</div>

<div id="chest" class="collapse list">
<center><h2 class="list-group-item disabled">Chest</h2></center>
<% @exerciselistchest.each do |x| %>
<center><li class="list"><%=x.exercise %><br></li></center>

<% end %>
</div>

<div id="shoulder" class="collapse list">
<center><h2 class="list-group-item disabled">Shoulders</h2></center>
<% @exerciselistshoulder.each do |x| %>
<center><li class="list"><%=x.exercise %><br></li></center>

<% end %>
</div>

<div id="abs" class="collapse list">
<center><h2 class="list-group-item disabled">Abdominals</h2></center>
<% @exerciselistabs.each do |x| %>
<center><li class="list"><%=x.exercise %><br></li></center>

<% end %>
</div>

<div id="back" class="collapse list">
<center><h2 class="list-group-item disabled">Back</h2></center>
<% @exerciselistback.each do |x| %>
<center><li class="list"><%=x.exercise %><br></li></center>

<% end %>
</div>

<div id="legs" class="collapse list">
<center><h2 class="list-group-item disabled">Legs</h2></center>
<% @exerciselistlegs.each do |x| %>
<center><li class="list"><%=x.exercise %><br></li></center>

<% end %>
</div>


<br><br>

<center><a href="#" data-toggle="modal" class="btn btn-lg btn-default" data-target="#exerciseModal">Add an Exercise</a></center>

<div id="exerciseModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Add an Exercise to the Database</h4></center>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for 'exerciselist' do |f| %>
        <%= f.select :muscle, options_for_select([["Select One", ""], "biceps", "triceps","chest","shoulders","abs","back","legs"]) %>
        <%= f.text_field :exercise %>
        <%= f.submit "Save" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- <center><%= link_to "Add to your workout regimen", new_user_workout_path(@user) %></center> -->
