<%= form_for :workouts, url: user_workouts_path do |f| %>
<div>
	<%= f.label :exercise %>
	<%= f.text_field :workout %><br>
	<%= f.label :sets %>
	<%= f.number_field(:sets) %><br>
	<%= f.label :reps %>
	<%= f.number_field(:reps) %><br>
	<%= f.label :weight %>
	<%= f.number_field(:weight) %><br>
	<%= f.submit "Add to Workout" %>
</div>

<% end %>