<center><h1 class="form-group">Add to Calendar</h1></center>
<br>
<div class="form">
<%= bootstrap_form_for :calendar, url: user_calendar_index_path do |f| %>
  <%= f.select :category, options_for_select([["Select One", ""], "Exercise", "Meal"]) %>
  <%= f.text_field :title, value: 'Enter a Title for Your Event' %>
  <%= f.text_area :description, size: "80x5" %> <br>
  <%= f.datetime_select :time, :ampm => true, :start_year => 2016, :order => [:month, :day, :year]%>
	<%= f.hidden_field :user_id, :value => current_user.id %><br>
  <%= f.submit %>
<% end %>
</div>