<h1>Event Details</h1>
<ul>
	<li>Category: <%= @event.category %></li>
	<li>Title: <%= @event.title %></li>
	<li>Description: <%= @event.description %></li>
	<li>Date: <%= (@event.time).strftime("%m/%d/%Y") %></li>
	<li>Time: <%= (@event.time).strftime("%I:%M%p") %></li>
</ul>

<td><%= link_to 'Delete', user_calendar_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
