<!-- <div>
<% @meal.each do |meal| %>
	<div>
	<%= meal.meal %>
	</div>
	<div>
	<%= meal.ingredients %>
	</div>
	<div>
	<%= meal.directions %>
	</div><br><br>
	<% end %>
</div>
 -->
<div>
<center><%= link_to "Add New Meal", new_user_meal_path(@user) %></center>
</div>
<br><br><br>
<% @meal.each do |meal| %>
<div class="responsive" >
  <div class="img" >
    <a target="_blank" href="">
      <img src="/assets/<%=meal.meal%>.jpg" class="img-responsive" style="max-width:auto;" alt="chicken" >
    </a>
    <a href=""><div class="desc"><%= meal.meal %></div></a>
    <!-- Ingredients: <%= meal.ingredients %><br><br> -->
    <!-- Directions:<%= meal.directions %> -->
  </div><br><br>
</div>
  <% end %>


<br><br>