<!-- <div>
<% @meal.each do |meal| %>
	<div>
	<%= meal.meal %>
	</div>
	<div>
	<%= meal.ingredients %>
	</div>
	<div>
	<%= meal.directions %>
	</div><br><br>
	<% end %>
</div>
 -->
<br><br><br>
<% @meal.each do |meal| %>
<div class="responsive">
  <div class="img">
    <a target="_blank" href="">
      <img src="/assets/chicken.jpg" class="img-thumbnail hover" alt="chicken" width="304" height="236">
    </a>
    <a href=""><div class="desc"><%= meal.meal %></div></a>
  </div>
</div>
  <% end %>



<div>
<%= link_to "Add New Meal", new_user_meal_path(@user) %>
</div>