<!-- <div>
<% @meal.each do |meal| %>
	<div>
	<%= meal.meal %>
	</div>
	<div>
	<%= meal.ingredients %>
	</div>
	<div>
	<%= meal.directions %>
	</div><br><br>
	<% end %>
</div>
 -->
<div>
<center><%= link_to "Add New Meal", new_user_meal_path(@user) %></center>
</div>

<br><br><br>



<br><br>
<% @meal.each do |meal| %>
	<div class="responsive">
    <div class="holder smooth">
        <img src="/assets/<%=meal.meal%>.jpg" alt="food" width="459px" height="258px" />
        <div class="go-top">
            <p>
						    Ingredients: <%= meal.ingredients %><br><br> 
    						Directions:<%= meal.directions %> 
            </p>
        </div>
        <center><h3><%= meal.meal %> </h3></center>
    </div>
  </div>
 <% end %> 
