<div class="white-container">
    <div class="container">
       <h1 class="intro title text-center dark-header" style="color: #00b7b7;"><%= @user.name.capitalize %>'s Profile Page</h1><br><br>
       <p class="dark-paragraph">One of the best feelings in fitness is learning how you've progressed over time. Hard work pays off, and it's an amazing feeling to see how you've transformed both mentally and physically. Be proud of all the hard work you've put into working you butt off, and take a moment to pat yourself on the back. Numbers don't lie! <br><br>
       Below this block of text, you'll be able to check lift stats that you've uploaded. After a couple entries, you'll see the change in strength. Also, you'll also be able to check up on past events and see how they compare as well. We are in the works of adding a chart to graphically illustrate your gains, so stay tuned!</p> 
    </div>
</div>


<center><a class="btn btn-lg btn-primary" style="background-color:#00cccc; border: 0px solid black; color: white;" data-toggle="modal" 
   data-target="#statsModal">Add Stats</a></center><br><br>

<% @stats.each do |stat| %>
<a data-toggle="collapse" href="#collapse<%=stat.id%>" style="color: white;">
    <div class="acc-btn" style="background-color: black;   border-bottom:1px solid #00cccc; font-size:50px;">
      <h4 class="panel-title">
        <div class="stats-heading">Lift Statistics as of <%= (stat.created_at).strftime("%m/%d/%Y")%></div>
      </h4>
    </div>
</a>
    <div id="collapse<%=stat.id%>" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item"><div class="stats-item">Weight: <%= stat.weight %></div></li>
        <li class="list-group-item"><div class="stats-item">Bench: <%= stat.bench %></div></li>
        <li class="list-group-item"><div class="stats-item">Squat: <%= stat.squat %></div></li>
        <li class="list-group-item"><div class="stats-item">Deadlift: <%= stat.deadlift %></div></li>
        <li class="list-group-item"><div class="stats-item">Overhead Press: <%= stat.overheadpress %></div></li>
        <li class="list-group-item"><div class="stats-item">Barbell Row: <%= stat.barbellrow %></div></li>
      </ul>
    </div>
<% end %>



 <div id="statsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Add Stats Entry</h4></center>
      </div>
      <div class="modal-body">
      <%= bootstrap_form_tag url: user_index_path do |f| %>
        <%= f.number_field :weight %>
        <%= f.number_field :bench %>
        <%= f.number_field :squat %>
        <%= f.number_field :deadlift %>
        <%= f.number_field :overheadpress, label: "Overhead Press" %>
        <%= f.number_field :barbellrow,label: "Barbell Row" %>
        <%= f.submit %>
      <% end %>
      </div>
      </div>
    </div>
 </div>
<div class="white-container" style="padding-top: 25px;">
<h1 class="intro title text-center dark-header">Scheduled Exercise and Meals</h1><br>
  <% @calendar.each do |calendar| %>
    <center><div class="responsive-img">
        <ul class="event-list">
          <li>
            <time datetime="<%= calendar.time %>">
              <span class="day"><%= (calendar.time).strftime("%d")%></span>
              <span class="month"><%= (calendar.time).strftime("%b")%></span>
              <span class="year"><%= (calendar.time).strftime("%y")%></span>
            </time>
            <% if calendar.category == "Exercise" %>
             <img alt="Exercise" src="/assets/dumbbell.png" style="height:170px; width:170px;" />
             <% elsif calendar.category == "Meal" %>
            <img alt="Meal" src="/assets/food.png" style="height:170px; width:170px;"/>
            <% end %>
            <div class="info">
              <h2 class="title"><%= calendar.title %></h2><br>
              <p class="desc"> <%= calendar.description %></p>
            </div>
          </li>
        </ul>
      </div>
    </center>
  <% end %>  
</div>
